.header {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 26px;
  font-weight: 900;
}

.headerLink {
  text-decoration: none;
  color: black;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 80px;
  font-family: "italic";
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  text-decoration: none;
}
.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.buttons a {
  display: flex;
  align-items: center;
  text-align: center;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}
.classifier {
  margin-top: 80px;
  border-radius: 60px;
  border-color: black;
  font-size: 32px;
  padding: 40px 120px;
  max-width: 500px;
  width: 100%;
  font-weight: 400;
  cursor: pointer;
  background-color: azure;
  text-decoration: none;
}

p {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 40px;
}

.ImageUpload {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border: 5px;
}

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.inputSubmit {
  display: flex;
  justify-content: center;
  gap: 8px;
  height: 30px;
}
.input-file {
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  border: 2px solid #ccc;
  padding: 80px 40px 80px 200px;
  color: gray;
}

/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
