<!DOCTYPE html>
<html>
  <head>
    <title>SWIN-Transformer-Models</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="header">
      <a href="/" class="headerLink">
        <div>Home</div>
      </a>
      <a
        href="https://vikrantrajput1408.github.io/VikrantRajput/"
        target="_blank"
        class="headerLink"
      >
        <div>Portfolio</div>
      </a>
    </div>
    <h1>MODELS</h1>

    <div class="buttons">
      <a style="text-decoration: none;" href="flower/" target="_parent">
        <button class="classifier">Flowers species classifier</button>
      </a>
      <a style="text-decoration: none;" href="butterfly/" target="_parent">
        <button class="classifier">Butterfly species classifier</button>
      </a>
      <a style="text-decoration: none;" href="leaf/" target="_parent">
        <button class="classifier">Leaf disease classifier</button>
      </a>
      <a style="text-decoration: none;" href="forest/" target="_parent">
        <button class="classifier">Forest Fire Detector</button>
      </a>
    </div>
  </body>
</html>
